<style>
  .10t-sub-footer {
    background: #323232;
    color: var(--light-gray);
    font-family: var(--font-family);
    padding: 1rem 5vw;
    position: relative;
    text-align: center;
  }

  .10t-sub-footer a {
    color: #ffffff;
    display: block;
    font-size: 0.75rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
  }

  .10t-sub-footer a:active,
  .10t-sub-footer a:focus,
  .10t-sub-footer a:hover {
    color: #f7f7f7;
  }

  @media (min-width: 770px) {
    .10t-sub-footer {
      padding-bottom: 0;
      padding-top: 0;
    }

    .10t-sub-footer a {
      display: inline-block;
    }
  }
</style>

<footer class="10t-sub-footer">
  <a href="https://crowdedtent.com">Crafted with meraki by <strong>Crowded</strong>Tent</a>
  <div class="bottom-bar"></div>
</footer>
