<style>
  .10t-sub-footer {
    background: var(--black);
    color: var(--light-gray);
    font-family: var(--font-family);
    padding: 1rem 5vw;
    position: relative;
    text-align: center;
  }

  .10t-sub-footer a {
    color: inherit;
    display: block;
    font-size: 0.75rem;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
  }

  .10t-sub-footer a:active,
  .10t-sub-footer a:focus,
  .10t-sub-footer a:hover {
    color: var(--pink-text);
  }

  .10t-sub-footer .bottom-bar {
    animation: gradient-roll 20s linear infinite alternate;
    background-image: var(--lwj-gradient);
    background-size: 200%;
    border-bottom: 0.5px solid var(--light-gray);
    bottom: 100%;
    height: 6px;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 5;
  }

  .10t-sub-footer .bottom-bar::before,
  .10t-sub-footer .bottom-bar::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw;
  }

  .10t-sub-footer .bottom-bar::before {
    top: 1px;
    height: 0.5px;
    background-color: var(--light-gray);
  }

  .10t-sub-footer .bottom-bar::after {
    top: 0;
    height: 1px;
    background-color: var(--black);
  }

  @media (min-width: 770px) {
    .10t-sub-footer {
      padding-bottom: 0;
      padding-top: 0;
    }

    .10t-sub-footer a {
      display: inline-block;
    }
  }
</style>

<footer class="10t-sub-footer">
  <a href="https://crowdedtent.com">Crafted with meraki by <strong>Crowded</strong>Tent</a>
  <div class="bottom-bar"></div>
</footer>
